@import "../../../variables";

.actionbar {
  padding-top: $spacer-y;


  button.btn {
    height: 2em;
    color: floralwhite;
    background-color: #666666;
    font-size: 1.2em;
    border-radius: $spacer-y;
  }
}

.board-message {

  height: 2em;
  line-height: 2em;
  border-radius: $spacer-y;
  font-size: 1.2em;

}

.coin {
  width: 2em;
  height: 2em;
  display: inline-block;
  line-height: 2em;
  border-radius: 50%;
}

.p1 {
  background:radial-gradient(farthest-side at 30% 30%, lighten($playerOneColor, 15%), $playerOneColor, darken($playerOneColor, 15%));
  color: $playerOneInverseColor;
  font-size: 1.2em;
}

.p2 {
  background: radial-gradient(farthest-side at 30% 30%, lighten($playerTwoColor, 15%), $playerTwoColor, darken($playerTwoColor, 15%));
  color: $playerTwoInverseColor;
  font-size: 1.2em;
}

