<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type = "button" class = "navbar-toggle"
                data-toggle = "collapse" data-target = "#example-navbar-collapse">
          <span class = "sr-only">Toggle navigation</span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          Reversi
        </a>
      </div>
      <div class = "collapse navbar-collapse" id = "example-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ choosen_courtsize }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="radio">
              <label class="radio-inline">
                <input type="radio" name="courtsize" value="6" (click)="setCourtsize(6)"> 6 x 6 </label>
            </li>
            <li class="radio">
              <label class="radio-inline">
                <input type="radio" name="courtsize" value="7" (click)="setCourtsize(7)"> 7 x 7 </label>
            </li>
            <li class="radio">
              <label class="radio-inline">
                <input type="radio" name="courtsize" value="8" (click)="setCourtsize(8)" checked="checked" > 8 x 8 </label>
            </li>
            <li class="radio">
              <label class="radio-inline">
                <input type="radio" name="courtsize" value="9" (click)="setCourtsize(9)"> 9 x 9 </label>
            </li>
            <li class="radio">
              <label class="radio-inline">
                <input type="radio" name="courtsize" value="10" (click)="setCourtsize(10)"> 10 x 10 </label>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ choosen_variant }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="radio">
              <label class="radio-inline">
                <input type="radio" name="variant" value="1" (click)="setVariant(1)" checked="checked" >Variante 1</label>
            </li>
            <li class="radio">
              <label class="radio-inline">
                <input type="radio" name="variant" value="2" (click)="setVariant(2)">Variante 2</label>
            </li>
            <li class="radio">
              <label class="radio-inline">
                <input type="radio" name="variant" value="3" (click)="setVariant(3)">Variante 3</label>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ choosen_beginner }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="radio">
              <label class="radio-inline">
                <input type="radio" name="courtsize" value="6" (click)="setBeginner(0)" checked="checked" >Spieler 1</label>
            </li>
            <li class="radio">
              <label class="radio-inline">
                <input type="radio" name="courtsize" value="7" (click)="setBeginner(1)">Spieler 2</label>
            </li>
          </ul>
        </li>
        <li>
        <button type="button" class="btn btn-default navbar-btn buttonAdd" (click)="newPvP()">Spieler vs Spieler</button>
        </li>
        <li>
          <button type="button" class="btn btn-default navbar-btn buttonAdd">Spieler vs Computer</button>
        </li>
        <li>
          <button type="button" class="btn btn-default navbar-btn buttonAdd" (click)="switchHint()">Vorschau</button>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</div>

