@import "../../styles";

.court {
  margin: 0 auto;
  border: $boardBorderColor 1vh outset;
  border-radius: 3%;
  display: table;

  width: 70vh;
  height: 70vh;

  .court-row {
    display: table-row;

    .court-cell {
      display: table-cell;
      border-width: 4px;
      border-style: outset;
      border-color: $boardSpacerColor;

      position: relative;
    }
  }
}

