button{
  font-size: 24px;
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  margin: auto;

}
.hidden{
  visibility: hidden;
}

coin{
  display: inline-block;
  position: relative;
  margin: auto;
  height: 8vh;
  width: 8vh;
  border-radius: 100%;
  font-size: 1.5em;
  text-align: center;
}

.p1{
  background-color: black;
  color: white;
}

.p2{
 background-color: white;
  color: black;
}

div{
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  margin: auto;
}
