.cell {
  background-color: rgb(34, 139, 34);
  position: absolute;

  height: 100%;
  width: 100%;

  vertical-align: middle;
  text-align: center;

  .circleP1,
  .circleP2,
  .circleP1Prev,
  .circleP2Prev,
  .noCircle {

    display: inline-block;
    border-radius: 100%;

  }

  .circleP1 {
    background: black;
    width: 75%;
    height: 75%;
    margin-top: 12.5%;
  }

  .circleP2 {
    background: white;
    width: 75%;
    height: 75%;
    margin-top: 12.5%;
  }

  .circleP1Prev {
    background: black;
    width: 25%;
    height: 25%;
    margin-top: 37.5%;
  }

  .circleP2Prev {
    background: white;
    width: 25%;
    height: 25%;
    margin-top: 37.5%;
  }

  .noCircle {

  }

}
