@import "../../../variables";

.buttonAdd {
  margin-left: 1em;
  margin-right: 1em;

  color: floralwhite;
  background-color: #666666;
}

.buttonRadio {
  color: floralwhite;
  background-color: #666666;
  width: 100%;
}
