$playerOneColor: #ff0000;
$playerTwoColor: #000000;
$playerOneInverseColor: invert($playerOneColor);
$playerTwoInverseColor: invert($playerTwoColor);
$boardColor: rgb(34, 139, 34);
$boardBorderColor: lightgray darkgray darkgray lightgray;


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/utilities";

html,
body {
  height: 100%;
  width: 100%;
}


.hidden {
  visibility: hidden;
}
