$playerOneColor: #e74c3c;
$playerTwoColor: #3498db;
$playerOneInverseColor: #ecf0f1;
$playerTwoInverseColor: #ecf0f1;
$boardColor: #1abc9c;
$boardSpacerColor: #7f8c8d;
$boardBorderColor: #7f8c8d;
$titleColor: #d35400;


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/utilities";

html,
body {
  height: 100%;
  width: 100%;
}


.hidden {
  visibility: hidden;
}
